<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BX6_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BX6_Test.Properties.Settings>
            <setting name="MaterialsSetting" serializeAs="String">
                <value>D:</value>
            </setting>
            <setting name="SampleSetting" serializeAs="String">
                <value>D:</value>
            </setting>
            <setting name="TestResultPathSetting" serializeAs="String">
                <value>D:</value>
            </setting>
            <setting name="PasswordSetting" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="HardwareSetting" serializeAs="String">
                <value>V1.0</value>
            </setting>
            <setting name="SoftwareSetting" serializeAs="String">
                <value>V11.05.03</value>
            </setting>
        </BX6_Test.Properties.Settings>
    </userSettings>
</configuration>